# Auto detect text files and normalize line endings to LF
* text=auto

# Bash scripts
*.sh text eol=lf
.husky/* text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Code files
*.ts text eol=lf
*.js text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.jar binary
